# Python
*.pyc
*.pyo
*.pyd
__pycache__/
venv/
env/
ENV/
.venv/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
staticfiles_build/

# Executables & Offline Packages
*.exe
EduManage_Offline_Software/
Attendance_Records/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
